#cypherPage, #decypherPage, #icons{
  display: none;
}
#home{
  display: block;
}

/* archivos comunes */
.container-fuid{
  display: flex;
}
.hdr{
  padding-top: 2%
}
p {
  color:rgb(110, 109, 110);
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: none;
    text-align: center;
    padding-bottom: 3%;
}
.home1 h3, .home2 h3{
  color: rgb(110, 109, 110);
  font-family: 'Sacramento', cursive;
  font-size: 35px;
  text-align: center;
  
}
/* ----heder----- */
.headerLogo img{
  width: 100%;
}
.gif img{
  width: 100%;
}
.titleHeader {
    text-align: center;
    /* position: absolute; */
    padding-top: 4%;
    top: 50%;
    left: 50%;
    color: rgb(110, 109, 110);
    font-family: 'Sacramento', cursive;
}
.titleHeader h1 {
  font-size: 3.5rem;
}
.titleHeader h4 {
  font-size: 2rem;
}
    /* ----navbar----- */
.navbar {
    background: rgb(110, 109, 110);
    overflow: hidden;/*limpia el float left para que aparesca el color del menu*/
}
.navbar ul {
    list-style: none;
}
.navbar ul li {
    float: right;
}
.navbar ul li a {
    padding: 1% 2%;
    display: block;
    color: #fb0097;
    font-size: 19px;
    text-decoration: none;
}
.navbar ul li a:hover {
    background: #bebdbd;
}
  /* -----footer---- */
footer{
  background: rgb(110, 109, 110);
    margin: 6% 0% 0% 0%;
    height: 80px;
    width: 100%;
    color: #fb0097;
    border: 1px solid #5e5e5e;
    clear: both
}  /*FIN PIE DE PAGINA*//* FIN archivos comunes */

  /* --------------------------------------------------- */
/* home */
.welcome{
  padding:3%;
}
.pictHome1 img{
    width: 75%;
}
.pictHome1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.pictHome2 img{
    width: 25%;
}
/*Fin index */

.row.cyphImput, .row.decyphImput{
  padding: 3%;
}
.friends{
  color:rgb(110, 109, 110);
  padding-top: 1%;
}
.infoDiary {/* pagina 3 introduccion*/
  border: 1px solid rgba(242, 243, 163, 0.196);
  border-radius: 15px;
  text-align: center;
}
.infoDiary h2 {
  color: #fb0097;
  font-family: 'Sacramento', cursive;
  font-size :42px;
  text-align: center;
  text-transform: none;
}
.infoDiary b {
  color:rgb(110, 109, 110) ;
  font-size:45px;
  font-family: 'Sacramento', cursive;
}

.forDecypher input{
  margin-bottom: 20px;
  width: 200px;
  height: 15px;
  padding: 5px;
  }
  
.forDecypher input {
  font-size: 19px;
  text-transform: none;
}
.otherPage2 p{
  color: rgb(110, 109, 110);
  font-size:37px;
  font-family: 'Sacramento', cursive;
}

.otherPage2 button {
  font-size: 20px;
  background-image: url(fotos/mariposas.gif);
  background-color: white;
  border: solid  3px rgb(110, 109, 110);
  border-radius: 8px;
  text-decoration:none;
}
.go {
  font-size: 20px;
  background-color: white;
  border: solid  3px rgb(110, 109, 110);
  border-radius: 8px;
  text-decoration:none;
  color: rgb(110, 109, 110);
  font-family: 'Source Sans Pro', sans-serif;
}

.forDecypher input, textarea{
  border: solid  3px rgb(110, 109, 110);
  padding: 4%;
  width: 100%;
  border-radius: 8px;

}
.decypher p{
  color: rgb(110, 109, 110);
  font-family: 'Source Sans Pro', sans-serif;
}

  /* --------------------------------------------------- */
.imageOffset input{
    width: 100%;
}


textarea#resultCypher, textarea#resultDecypher{
  margin: 3% 0;
  border-radius: 8px;
}